
/* Start Variables*/
:root {
    --main-color: #10cab7;
    --secondary-color: #2C4755 ;
}
/* End Variables*/
/* Start Global rules*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}
/*End Global Rules */

/* Start Components*/
.special-heading {
    color: #EBECED;
    font-size: 90px;
    text-align: center;
    font-weight: 800;
    margin: 0;
    letter-spacing: -5px;
}

.special-heading + p {
    color: #797979;
    margin: -25px 0 0 0;
    text-align: center;
    font-size: 20px;
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin: -20px 0 0 0;
    }
    
}
/* End Components*/
.container {
    margin: 0 auto;
    padding: 0 15px ;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start Header*/


.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}
.header .links:hover {
    cursor: pointer;
}
.header .links:hover .icon span:nth-child(2)  {
    width: 100%;
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}


.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 300ms;
}
.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    display: none;
    min-width: 200px;
    margin: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    right: 0;
    background-color: #f6f6f6;
    top: calc(100% + 15px);
    z-index: 1;
}

.header .links:hover ul {
    display: block;
}

.header .links ul::before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -19px;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 300ms;
}

.header .links ul li a:hover {
    padding-left: 20px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* End Header */
/* Start Landing */
.landing {
    background-image: url(../images/20170924-Lone-Eagle-Reflection-Pano-BW.jpg);
    background-size: cover;
    min-height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 350px;
    max-width: 100%;
}
.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .intro-text p {
    color: white;
    font-size: 19px;
    line-height: 1.8;
}
/* End Landing */
/* Start Features */
.features {
padding: 60px 0;
background-color: #f6f6f6;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat {
    padding: 15px;
    text-align: center;
}
.features .feat i {
    color: var(--main-color);
    font-size: 35px;
}
.features .feat h3 {
  font-weight: 800;
  margin: 35px 0;
}
.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* End Features */


/* Start Services */
.services {
    padding: 60px 0 ;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    margin: 90px 0 0 0;
    gap: 30px;
}

.services .services-content .image img {
    width: 200px;
}
.services .services-content .col .srv {
    display: flex;
    margin: 0 0 30px 0;
}

@media (max-width: 767px) {
    .services .services-content .col .srv {
        text-align: center;
        flex-direction: column;
    }
}
/* Understand*/ 
.services .services-content .col .srv i {
    color: var(--main-color);
    font-size: xx-large;
    flex-basis: 50px;
}   

.services .services-content .col .srv .text{
    flex: 1;
}
.services .services-content .col .srv .text h3 {
    margin: 0 0 10px 0;
}
.services .services-content .col .srv .text p {
    font-weight: 300;
    color: #687786;
    line-height: 1.8;
}

.services .services-content .col .image {
    text-align: center;
    position: relative;
}
.services .services-content .col .image::before {
    content: '';
    position: absolute;
    right: 50px;
    top: -50px;
    width: 80px;
    height: calc(100% + 100px);
    background-color: var(--secondary-color);
    z-index: -1;
}

@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}
/* End Services */

